<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ToViewTitle</servlet-name>
    <servlet-class>servlet.ToViewTitle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToEditTitle</servlet-name>
    <servlet-class>servlet.ToEditTitle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoAddTitle</servlet-name>
    <servlet-class>servlet.DoAddTitle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoDeleteTitle</servlet-name>
    <servlet-class>servlet.DoDeleteTitle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveUploadFile</servlet-name>
    <servlet-class>servlet.SaveUploadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTitlesToCart</servlet-name>
    <servlet-class>servlet.AddTitlesToCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoOrder</servlet-name>
    <servlet-class>servlet.DoOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
	<servlet>
    <servlet-name>ToViewBooks</servlet-name>
    <servlet-class>tag.ToViewBooks</servlet-class>
  </servlet>
	<filter>
	<filter-name>CharacterEncodingFilter</filter-name>
	<filter-class>filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>CharacterEncodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app>